body {
    font-family: "Poppins", sans-serif;
}
.btn-kirim {
    background-color: #ed64a6 !important;
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.btn-kirim:hover {
    background-color: #ff98ca !important;
}

.text-ucapan {
    font-size: 14px !important;
}

.garis {
    border: none;
    height: 20px;
    width: auto;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #ff98ca;
    box-shadow: 0 20px 20px -20px #ff98ca96;
    margin: -50px auto 10px;
}

::-webkit-scrollbar {
    width: 5px;
    background: rgb(209, 209, 209);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px #b1b1b1;
    background: rgb(194, 194, 194);
}
